@charset "UTF-8";

.font-face {
	font-family: 'S-CoreDream-3Light';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

.body {
	font-family: 'S-CoreDream-3Light';
}

.wish_list_code_leftbar {
	width: 310px;
	position: fixed;
	left: 0;
	top: 0;
	padding: 30px;
	box-sizing: border-box;
	z-index: 98;
	letter-spacing: 0.5px;
	background-color: #f4efe1;
	height: 100%;
}

.wish_list_code_sangpum {
	margin-left: 440px;
}

.wish_list_code_main {
	width: 68%;
	margin-left: 440px;
	text-align: center;
}

.wish_list_code_footer {
	bottom: 0;
	background-color: #f4efe1;
	text-align: center;
	width: 100%;
	padding-left: 110px;
	margin: 0 auto;
	position: absolute;
	position: fixed;
}

.wish_list_code_contents {
	margin-left: 990px;
	position: fixed;
}

.wish_list_code_title {
	margin-left: 440px;
}