@charset "utf-8";
body{
  font-family: "맑은 고딕",arial,sans-serif;
  font-size:12px;
  color:#333;
  overflow-x:hidden;
}
a{text-decoration:none;color:#333;}
 
/* main서식 */
main{overflow:hidden;padding-top:48px;}
.m_slide{
  /* width:1600px; */
  width:100%;
  /* height:697px; */
  margin:0px auto;
  position:relative;
}
.m_slide> ul{
  /* width:6400px; */
  width:400%;
  display:flex;
}
.m_slide > ul > li{width:100%;}
.m_slide img{width:100%;}  /* 이미지 크기 자동조절 */
.m_slide i.fas{
  position:absolute;top:45%;
  font-size:50px;
  padding:5px;
}
.m_slide i.fa-angle-left{position: absolute; top: 0; left: 10px;} 
.m_slide i.fa-angle-right{right:10px;}

 .slide-btns > div {
  position:absolute;
  top:0;
  left:0;
  width:25%;
  height:100%;
  cursor:pointer;
}


.slide-btns > div:last-child {
  left:auto;
  right:0;
}
.slide-btns > div > span {
  position:absolute;
  top:50%;
  left:20px;
  transform:translatey(-50%);
  background-color:white;
  opacity:0.5;
  padding:1px 13px;
  border-radius:50px;
  font-size:25px;
}
.slide-btns > div:last-child > span {
  left:auto;
  right:20px;
}

