        /*reset 사이드 목록 */
        *{ margin: 0; padding: 0; }
        ul,li{list-style: none;}
        a{text-decoration: none; color: inherit;}
        /*공통클래스*/
        .after::after{
            content: ''; display: block; clear: both;
        }
        
          input{
            display: none;
        }
        .side_wrap .sub_menu{
            display: none;
        }
 		.side_wrap input:checked + label::before{
            background-image: url(./img/menu_tree_icon_minus.png);
        }
        .side_wrap input:checked ~ *{
            display: block;
        }
      

