#leftbar {
	width: 310px;
	position: fixed;
	left: 0;
	top: 0;
	padding: 30px;
	box-sizing: border-box;
	z-index: 98;
	letter-spacing: 0.5px;
	background-color: beige;
	height: 100%;
}/* 사이드바 css */
#contents {
	padding: 4% 5% 30% 5%;
	margin-left: 310px;
}/* 메인 css */
.footer {
	text-align: center;
	background-color: #f4efe1;
}/* footer css */
.header {
	width: 50%;
	text-align: center;
}/* 게시판 제목 */
img {
	width: 100%;
	overflow-clip-margin: content-box;
	overflow: clip;
}
.img {
	width: 300px;
	height: 430px; 
	margin:auto;
	text-align:center;
}
ul {
	list-style: none;
	display: block;
	overflow: hidden;
}
ul>li {
	overflow: hidden;
	padding: 1%;
	float: left;
}
.info {
	text-decoration: none;
	color: black;
	position: relative;
	display:block;
	float:left;
	margin-left: auto; 
	margin-right: auto;
}
.page{
	text-align: center;
	font-weight: bold;
}