@charset "UTF-8";

@font-face {
     font-family: 'S-CoreDream-3Light';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
body{
    font-family:'S-CoreDream-3Light';
}

#leftbar{
	width:310px;
	position:fixed;
	padding:30px;
	box-sizing:border-box;
	background-color:beige;
	height:100%;
}


#contents{
	padding:4% 5% 30% 5%;
	margin-left:310px;
}


.main{
  padding-top:5%;

}


/* .footer {
	background-color: #f4efe1;
	text-align:center;
	margin-left:310px;
	
} */

footer {
    bottom: 0;	
    padding-top:3%;
}
.footer{		
	background-color: #f4efe1;
	text-align:center;
	width:100%;
	margin: 0 auto; 
}

.paging{
	margin-left:44%;
}



li{
	list-style:none;
	float:left;
	letter-spacing:10px;
}

.write{
	float:right;
}
	
.bottomsearch{
	float:right;
	margin-top:5%;
}	

.posttable{
	width:100%;
	border:1px solid rgb(192, 192, 192);
	border-left:0;
	border-right:0;
}

.movetable{
	width:100%;
	border:1px solid rgb(192, 192, 192);
	border-left:0;
	border-right:0;
}
.posttable th, .posttable td {
  border:1px solid rgb(192, 192, 192);
  padding:10px;
  	border-left:0;
	border-right:0;
}

.movetable th, .movetable td{
  border:1px solid rgb(192, 192, 192);
  padding:10px;
  	border-left:0;
	border-right:0;
 
}

.posttable td{
  width:90%;
}

.movetable td{
  width:90%;
}

.buttonarea{
margin-bottom:5%
}


.buttonarea button{
	float:right;
	margin-right:0.5%
}


.movetablearea{
margin-top:10%;
}
