@charset "UTF-8";

@font-face {
     font-family: 'S-CoreDream-3Light';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
body{
    font-family:'S-CoreDream-3Light';
}

#faqPost_leftbar{
	width:310px;
	position:fixed;
	padding:30px;
	box-sizing:border-box;
	background-color:beige;
	height:100%;
}


#eventPost_leftbar{
	width:310px;
	position:fixed;
	padding:30px;
	box-sizing:border-box;
	background-color:beige;
	height:100%;
}

#findPost_leftbar{
	width:310px;
	position:fixed;
	padding:30px;
	box-sizing:border-box;
	background-color:beige;
	height:100%;
}


#cancelPost_leftbar{
	width:310px;
	position:fixed;
	padding:30px;
	box-sizing:border-box;
	background-color:beige;
	height:100%;
}

#postView_leftbar{
	width:310px;
	position:fixed;
	padding:30px;
	box-sizing:border-box;
	background-color:beige;
	height:100%;
}



#faqPost_contents{
	padding:4% 5% 30% 5%;
	margin-left:310px;
}


#eventPost_contents{
	padding:4% 5% 30% 5%;
	margin-left:310px;
}


#findPost_contents{
	padding:4% 5% 30% 5%;
	margin-left:310px;
}

#cancelPost_contents{
	padding:4% 5% 30% 5%;
	margin-left:310px;
}

#postView_contents{
	padding:4% 5% 30% 5%;
	margin-left:310px;
}




.faqPost_main{
  padding-top:5%;

}

.eventPost_main{
  padding-top:5%;

}


.findPost_main{
  padding-top:5%;

}


.cancelPost_main{
  padding-top:5%;

}


/* .footer {
	background-color: #f4efe1;
	text-align:center;
	margin-left:310px;
	
} */

.faqPost_footer {
    bottom: 0;	
    padding-top:3%;
}

.eventPost_footer {
    bottom: 0;	
    padding-top:3%;
}

.findPost_footer {
    bottom: 0;	
    padding-top:3%;
}

.cancelPost_footer {
    bottom: 0;	
    padding-top:3%;
}


.postView_footer {
    bottom: 0;	
    padding-top:3%;
}

.faqPost_footerdiv {		
	background-color: #f4efe1;
	text-align:center;
	width:100%;
	margin: 0 auto; 
}

.eventPost_footerdiv {		
	background-color: #f4efe1;
	text-align:center;
	width:100%;
	margin: 0 auto; 
}

.findPost_footerdiv {		
	background-color: #f4efe1;
	text-align:center;
	width:100%;
	margin: 0 auto; 
}


.cancelPost_footerdiv {		
	background-color: #f4efe1;
	text-align:center;
	width:100%;
	margin: 0 auto; 
}

.postView_footerdiv {		
	background-color: #f4efe1;
	text-align:center;
	width:100%;
	margin: 0 auto; 
}


.faqPost_paging{
	margin-left:44%;
}

.eventPost_paging{
	margin-left:44%;
}

.findPost_paging{
	margin-left:44%;
}

.cancelPost_paging{
	margin-left:44%;
}



.faqPost_paging li{
	list-style:none;
	float:left;
	letter-spacing:10px;
}

.eventPost_paging li{
	list-style:none;
	float:left;
	letter-spacing:10px;
}


.findPost_paging li{
	list-style:none;
	float:left;
	letter-spacing:10px;
}

.cancelPost_paging li{
	list-style:none;
	float:left;
	letter-spacing:10px;
}


.faqPost_write{
	float:right;
}

.cancelPost_write{
	float:right;
}

.eventPost_write{
	float:right;
}

.faqPost_bottomsearch{
	float:right;
	margin-top:5%;
}	

.eventPost_bottomsearch{
	float:right;
	margin-top:5%;
}	

.findPost_bottomsearch{
	float:right;
	margin-top:5%;
}	


.cancelPost_bottomsearch{
	float:right;
	margin-top:5%;
}	

.postView_posttable{
	width:100%;
	border:1px solid rgb(192, 192, 192);
	border-left:0;
	border-right:0;
}

.postView_movetable{
	width:100%;
	border:1px solid rgb(192, 192, 192);
	border-left:0;
	border-right:0;
}
.postView_posttable th, .postView_posttable td {
  border:1px solid rgb(192, 192, 192);
  padding:10px;
  	border-left:0;
	border-right:0;
}

.postView_movetable th, .postView_movetable td{
  border:1px solid rgb(192, 192, 192);
  padding:10px;
  	border-left:0;
	border-right:0;
 
}

.postView_posttable td{
  width:90%;
}

.postView_movetable td{
  width:90%;
}

.postView_buttonarea{
margin-bottom:5%
}


.postView_buttonarea button{
	float:right;
	margin-right:0.5%
}


.postView_movetablearea{
margin-top:10%;
}
