#leftbar {
	width: 310px;
	position: fixed;
	left: 0;
	top: 0;
	padding: 30px;
	box-sizing: border-box;
	z-index: 98;
	letter-spacing: 0.5px;
	background-color: beige;
	height: 100%;
}
#contents {
	padding:4% 5% 30% 5%;
   margin-left:310px;
}
.post_header {
	width: 50%;
}
.itemReview_img {
	width: 100%;
	overflow-clip-margin: content-box;
	overflow: clip;
}
.itemReview_imgline {
	display: block;
	position: relative;
	width: 120px;
	height: 120px;
}
.theView{
	position: relative;
	width: 120px;
	height: 120px;
	background: rgba(17,17,17,0.65);
    box-sizing: border-box;
}

.itemReview_ul {
	list-style: none;
	display: block;
	overflow: hidden;
}

.itemReview_li{
	display: inline-block;
	overflow: hidden;
}
.starR {
	background:
		url('http://miuu227.godohosting.com/images/icon/ico_review.png')
		no-repeat right 0;
	background-size: auto 100%;
	width: 15px;
	height: 15px;
	display: inline-block;
	text-indent: -9999px;
	cursor: pointer;
}
/* 별점 css */
.starR.on {
	background-position: 0 0;
}

/* 5.하단부분 */
.post_footer {      
   background-color: #f4efe1;
   text-align:center;
   width:100%;
   bottom: 0;
}

/*전체범위설정 footer내릴려고*/
html, body {
    height: 100%;
     font-family:'S-CoreDream-3Light';
}

.back{
	background-color:green;
	color:rad;
}

.page{
	text-align:center;
}

.itemSerch_img {
	width: 100%;
	overflow-clip-margin: content-box;
	overflow: clip;
}
.itemSerch_imgline {
	display: block;
	position: relative;
	width: 120px;
	height: 120px;
}

.itmeinfo_img {
	width: 100%;
	overflow-clip-margin: content-box;
	overflow: clip;
}
.iteminfo_imgline{
	width: 300px;
	height: 360px; 
	margin:auto;
	overflow: hidden;
	padding: 1%;
	float: left;
}
.itmeinfo_ul {
	list-style: none;
	display: block;
	overflow: hidden;
}

.iteminfo_info {
	text-decoration: none;
	color: black;
	position: relative;
}