@charset "UTF-8";
@font-face {
     font-family: 'S-CoreDream-3Light';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
body{
 	font-family:'S-CoreDream-3Light';
}
html, body {
    height: 100%
}

#leftbar{
	width:310px;
	position:fixed;
	left:0;
	top:0;
	padding:30px;
	box-sizing:border-box;
	z-index:98;
	letter-spacing:0.5px;
	background-color:beige;
	height:100%;
}

#contents{
   padding:0% 5% 30% 5%;
   margin-left:310px;
}

/* 5.하단부분 */
footer {
    bottom: 0;
    padding-top:3%
}
.footer {      
   background-color: #f4efe1;
   text-align:center;
   width:100%;
   margin: 0 auto;
   /*padding-left:310px;
   position: absolute;
   */
}

