
img{
	float:left;
	margin-right:10px;
}
#mem_info{
	margin-top:30px;
}
table {
	width:800px;
	border: 2px solid gray;
	margin-top:70px;
}
tr,td {
	height:40px;
	border: 2px solid gray;
	padding-left:10px;
}
button{
	margin-left:10px;
}
#update{
	float:left;
	margin-top:20px;
	margin-left:130px;
}

#close{
	position:relative;
	margin-top:20px;
}

#delete_mem{
	float:right;
	margin-top:20px;
	margin-right:130px;
}
